APP=monitor
export PORT=8080
export SOURCE=file://src/server/sql/migrations
export DATABASE=postgres://localhost:5432/$APP\?sslmode=disable
export GOOGLE_APPLICATION_CREDENTIALS=$HOME/carbide-datum-276117-aa7fb5dcd251.json
export GOOGLE_CLOUD_PROJECT=carbide-datum-276117
